.textBox {
    text-align:left;
    padding: 5px;
    width: 95vw;
    max-width: 1200px;
    margin: 0 auto 10px auto;
    background-color: var(--verydarkblue);
    border-radius: 5px;
    text-indent: 14px;
}

.textBox p{
    margin:0;
}

