.textBox {
    text-align:left;
    padding: 5px;
    width: 95vw;
    max-width: 800px;
    margin: 0 auto 10px auto;
    box-shadow: 0 0 2px 2px var(--verydarkblue),
    0 0 3px 3px var(--mediumblue);
    background-color: var(--verydarkblue);
    border-radius: 5px;
    text-indent: 14px;
}

.textBox p{
    margin:0;
}

