#AE {
    text-align: left;
    letter-spacing: 0.05em;
    font-size: 12px;
}

#AE h1 {
    border-bottom: 0;
}

#AE>span{
    line-height: 13px;
}

#AE .box {
    text-align: left;
    border-radius: 6px;
    margin: 4px 2px 2px 25px;
    padding: 1px 0 0 15px;
    line-height: 13px;
}

#AE p {
    margin: 0;
}

.box > p {
    padding-left: 5px;
    border-radius: 5px;
    margin: 2px 0 0 0;
}

#AE>.box {
    background-color: var(--codeBackground);
    margin:0;
    padding:0;
}

#AE .box  {
    box-shadow:0 0 1px 1px rgba(255, 255, 255, 0.09);

}

#AE .box .box .box .box {
    background-color: var(--codeBackground);
}

#AE .box .box .box .box .box{

}

#AE .structure {
    color: yellow;
}

.key {
}

.key {
    color: #7295cd;
}

.content {
    color: green;
}

.boolean {
    color: orange;
}

.notJsonPrefix{
}

.notJsonPrefix:before{
    color:grey;
    content: attr(data-content);
}

.saveJsonButton{
    width:100vw;
    background-color:inherit;
    text-shadow: 1px 1px grey;
    box-shadow: 0 0 2px 2px rgb(187, 171, 171);
    border:none;
    margin:0 0 0 0;
    padding:0;
    line-height:50px;
    font-size:50px;
    color:inherit;
}
