#AE {
    text-align: left;
    margin-left: 10px;
    padding-left: 10px;
    letter-spacing: 0.05em;
    line-height: 13px;
    font-size: 12px;
}

#AE h1 {
    border-bottom: 0;
}

#AE .box {
    text-align: left;
    border-radius: 6px;
    margin: 4px 2px 2px 25px;
    padding: 1px 0 0 15px;
}

#AE p {
    margin: 0;
}

.box > p {
    padding-left: 5px;
    border-radius: 5px;
    margin: 2px 0 0 0;
}

#AE .box .box {
   background-color: var(--mediumblue);
}

#AE .box .box .box {
    background-color: var(--verydarkblue);
}

#AE .box .box .box .box {
    background-color: var(--mediumblue);
}

#AE .structure {
    color: yellow;
}

.key {
}

.key {
    color: #7295cd;
}

.content {
    color: green;
}

.boolean {
    color: orange;
}

.notJsonPrefix{
}

.notJsonPrefix:before{
    color:grey;
    content: attr(data-content);
}
