h1{
    font-size: 14px;
    border-bottom: 1px black solid;
}

h2{font-size: 16px;
text-align: center}

.codeBox {
    height: auto;
    margin: 0 auto 10px auto;
    box-shadow: 0 0 2px 2px black;
    border-radius: 5px;
    width:98vw;
    max-width:800px;
    font-size:13px;
    background-color:green;
}
.codeBox p{
    background-color:green;
}

.light{
    box-shadow: 0 0 2px 2px #e3e3e3;
}

@media screen and (max-width:500px){
    *{font-size:11px;}
}

@media screen and (max-width:300px){
    *{font-size:9px;}
}
