h1 {
    font-size: 25px;
    text-align: center;
    background-color: inherit;
    line-height:40px;
    box-shadow: 0 3px 2px -2px #5465a1 ;
    margin: 3px;
}

h2 {
    font-size: 16px;
    line-height: 36px;
    text-align: center;
   /* background-color: rgba(95, 30, 38, 0.33);*/
    margin:3px 4px 3px 6px;
    box-shadow: 0 2px 2px -2px rgba(255, 255, 255, 0.25);
}

h3 {
    padding: 0;
    font-weight: bold;
    margin: 15px auto 5px auto;
    text-align: center;
    width:95vw;
    max-width:1200px;
    font-size:16px;
    text-shadow: 1px 1px rgb(98, 98, 98);
    border-bottom:1px white;
}

.blur{
    filter: blur(1px) opacity(0.2);
}

.hide{
    pointer-events: none;
    z-index: -1;
}

@media screen and (max-width: 500px) {
    * {
        font-size: 11px;
    }
}

@media screen and (max-width: 300px) {
    * {
        font-size: 9px;
    }
}
