.ButtonBox{
}

.ButtonBox button{
    width:150px;
    font-size:12px;
    padding:3px;
    border-radius: 5px;
    border:none;
    margin-left:5px;
}

.popUpButton, .colorPickButton{
    background-color:orange;
    font-size:14px;
    font-family:"Comic Sans MS", Arial, Monaco, monospace;
    border-radius: 5px;
    border:none;
}


