.App {
  color: var(--codeColor);
  font-size:15px;
  text-align: center;
  background-color: var(--verydarkblue);
  line-height:28px;
  margin:0;
  padding:0;
}

.right{
  float:right;
}

input{
  background-color: #2c303f;
  box-shadow: 0 0 3px 2px #5465a1;
  border:none;
  color: var(--codeColor);
  line-height: 18px;
  font-size: 15px;
  text-align: center;
  margin:4px;
}
