.sortedList.edit input, .unsortedList.edit input {
    background-color: #2c303f;
    box-shadow: 0 0 3px 2px #5465a1;
    border: none;
    color: var(--codeColor);
    line-height: 18px;
    font-size: 15px;
    text-align: left;
    margin: 4px;
    width:100%;
}

.listEditTitle input {
    font-size: 22px;
    background-color: #2c303f;
    box-shadow: 0 0 3px 2px #5465a1;
    border: none;
    color: var(--codeColor);
    line-height: 18px;
    text-align: center;
    margin: 4px;
}
