#editTableForm {
    text-align: center;
}

#editTableForm input {
    background-color: #2c303f;
    border: 1px #5465a1 solid;
    color: var(--codeColor);
    line-height: 18px;
    font-size: 15px;
    text-align: center;
}

#editTableForm h3 input {
    font-size: 20px;
    line-height: 20px;
}

#editTableForm > div {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

#editTableForm > div > div:nth-child(1) {
    text-align: right;
}

#editTableForm > div > div:nth-child(1) >button{
    background-color: #717dac;
    box-shadow: 0 0 3px 4px rgba(62, 70, 90, 0.45);
    border-radius: 6px;
    border:none;
    margin:3px;
}

#editTableForm > div > div:nth-child(2) {
    display: flex;
}

#editTableForm > div > div:nth-child(2) > div {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

#editTableForm > div > div:nth-child(2) > div >button{
    background-color: #717dac;
    box-shadow: 0 0 3px 4px rgba(62, 70, 90, 0.45);
    border-radius: 6px;
    border:none;
    margin:3px;
}
